/* screen - desktop-2 */

.desktop-2 {
  background-color: transparent;
  height: 826px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.desktop-2 .desktop-2-9Mbqq5 {
  background-color: transparent;
  height: 826px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1440px;
}
.desktop-2 .desktop-2-DCfIzL {
  background-color: transparent;
  height: 826px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.desktop-2 .ellipse-10-0IRF4k {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-DCfIzL {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-GdxWBc {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-KGN2UV {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-KrriaP {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-YJE4aE {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-dg6Ru5 {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-eJkLvF {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-10-xaaxUB {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-11-0IRF4k {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-DCfIzL {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-GdxWBc {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-KGN2UV {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-KrriaP {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-YJE4aE {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-dg6Ru5 {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-eJkLvF {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-11-xaaxUB {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-12-0IRF4k {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-DCfIzL {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-GdxWBc {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-KGN2UV {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-KrriaP {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-YJE4aE {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-dg6Ru5 {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-eJkLvF {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-12-xaaxUB {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-3-DCfIzL {
  background-color: var(--shampoo);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-3-ga1xK3 {
  background-color: var(--shampoo);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-3-oJ3p2l {
  background-color: var(--shampoo);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-3-wB8i8H {
  background-color: var(--shampoo);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-4-DCfIzL {
  background-color: var(--purple-plum);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-4-ga1xK3 {
  background-color: var(--purple-plum);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-4-oJ3p2l {
  background-color: var(--purple-plum);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-4-wB8i8H {
  background-color: var(--purple-plum);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-5-DCfIzL {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 125px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-5-ga1xK3 {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 125px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-5-oJ3p2l {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 125px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-5-wB8i8H {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 125px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.desktop-2 .ellipse-6-DCfIzL {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 357px;
  width: 19px;
}
.desktop-2 .ellipse-6-ga1xK3 {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 357px;
  width: 19px;
}
.desktop-2 .ellipse-6-oJ3p2l {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 357px;
  width: 19px;
}
.desktop-2 .ellipse-6-wB8i8H {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 357px;
  width: 19px;
}
.desktop-2 .ellipse-7-0IRF4k {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-DCfIzL {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-GdxWBc {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-KGN2UV {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-KrriaP {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-YJE4aE {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-dg6Ru5 {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-eJkLvF {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-7-xaaxUB {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.desktop-2 .ellipse-8-0IRF4k {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-DCfIzL {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-GdxWBc {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-KGN2UV {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-KrriaP {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-YJE4aE {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-dg6Ru5 {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-eJkLvF {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-8-xaaxUB {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.desktop-2 .ellipse-9-0IRF4k {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-DCfIzL {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-GdxWBc {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-KGN2UV {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-KrriaP {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-YJE4aE {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-dg6Ru5 {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-eJkLvF {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .ellipse-9-xaaxUB {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.desktop-2 .group-6-DCfIzL {
  background-color: transparent;
  height: 390px;
  left: 30px;
  position: absolute;
  top: 145px;
  width: 449px;
}
.desktop-2 .group-6-KBQKN6 {
  background-color: transparent;
  height: 390px;
  left: 30px;
  position: absolute;
  top: 145px;
  width: 439px;
}
.desktop-2 .group-8-DCfIzL {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 418px;
}
.desktop-2 .group-8-ga1xK3 {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 394px;
}
.desktop-2 .group-8-oJ3p2l {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 418px;
}
.desktop-2 .group-8-wB8i8H {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 394px;
}
.desktop-2 .rectangle-1-DCfIzL {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.desktop-2 .rectangle-1-ga1xK3 {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.desktop-2 .rectangle-1-oJ3p2l {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.desktop-2 .rectangle-1-wB8i8H {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.desktop-2 .rectangle-4-DCfIzL {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.desktop-2 .rectangle-4-ga1xK3 {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.desktop-2 .rectangle-4-oJ3p2l {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.desktop-2 .rectangle-4-wB8i8H {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.desktop-2 .textlabel-02YO3W {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-0DFXam {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-0IRF4k {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-0WkZXm {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-1xhlmx {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-49wckv {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-66VVLn {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-69jrIL {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-7QHFqd {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-D8RBOc {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-DASr8n {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 148px;
}
.desktop-2 .textlabel-DBUHxG {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-DCfIzL {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 148px;
}
.desktop-2 .textlabel-DP0sBh {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-GNiDW1 {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-GdxWBc {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-JbFobF {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-JzS3Xa {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-KBQKN6 {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-KGN2UV {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-KqcAnd {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-KrriaP {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-KtWaZt {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-PefTvM {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-QLYH3f {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-QTkya0 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-QUPPqb {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-Rot22j {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-RpnV28 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-UVm2Sx {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-V8gNoX {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-Ws2Ex7 {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-XJPmX7 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-Xjewxd {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-YJE4aE {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-YvjPc3 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-ZNE6qx {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-agwjJN {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-axjTNR {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-bIIPB0 {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-dfqRTU {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-dg6Ru5 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-eJkLvF {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-ga1xK3 {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-gtkXgx {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-h6EVTX {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-hCPxt1 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-i5VlP7 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-igdOoi {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-kJruuW {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-n0he4h {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-oJ3p2l {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 148px;
}
.desktop-2 .textlabel-pk2kfr {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-qmdXgV {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-rywmYy {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.desktop-2 .textlabel-t4Sj4X {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-tvHxtU {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-tx0aI3 {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-v6zcJk {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-vJtJeV {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-vYdHSu {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-w0AYcP {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.desktop-2 .textlabel-wB8i8H {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 148px;
}
.desktop-2 .textlabel-xaaxUB {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .textlabel-xxa04F {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.desktop-2 .textlabel-xxotma {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.desktop-2 .x-49wckv {
  background-color: transparent;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.desktop-2 .x-DASr8n {
  background-color: transparent;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.desktop-2 .x-DCfIzL {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 359px;
  width: 13px;
}
.desktop-2 .x-KBQKN6 {
  background-color: transparent;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.desktop-2 .x-KqcAnd {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 359px;
  width: 13px;
}
.desktop-2 .x-ga1xK3 {
  background-color: transparent;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.desktop-2 .x-oJ3p2l {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 359px;
  width: 13px;
}
.desktop-2 .x-wB8i8H {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 359px;
  width: 13px;
}
.desktop-2 .x1-rose-quartz-DCfIzL {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
.desktop-2 .x1-rose-quartz-ga1xK3 {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
.desktop-2 .x1-rose-quartz-oJ3p2l {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
.desktop-2 .x1-rose-quartz-wB8i8H {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
